---
import Head from "@/components/Head.astro";
import Navbar from "@/components/sections/Navbar.astro";
import Footer from "@/components/sections/Footer.astro";
import "@/styles/global.css";

interface Props {
  title?: string;
  description?: string;
  ogType?: "website" | "article";
}

const { title, description, ogType } = Astro.props;
---

<!doctype html>
<html lang="ja" class="scroll-smooth">
  <head>
    <Head title={title} description={description} ogType={ogType} />
    <slot name="head" />
  </head>
  <body>
    <div class="min-h-screen bg-background flex flex-col">
      <Navbar />
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
